# Core
streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4

# ML / Models
scikit-learn==1.5.1
joblib==1.4.2
catboost==1.2.5
imbalanced-learn==0.12.3
nltk==3.8.1

# Plotting
plotly==5.22.0
seaborn==0.13.2
matplotlib==3.9.2

# Utils
python-dotenv==1.0.1
requests==2.32.3

# AI / LLM
google-generativeai==0.5.4

# RAG Enhancements
chromadb==0.5.5
sentence-transformers==2.2.2
torch>=2.0.0; platform_system != 'Windows' or platform_machine != 'x86' or python_version>='3.10'
